@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="header-bar">
        <p class="left">
            Welcome back, @ViewBag.User.Name
        </p>
        <p class="right">
            <a href="#">Log Out</a>
        </p>
    </div>

    <div class="WorkerStatus">
        <h1>You're currently @ViewBag.User.Name</h1>
    </div>

    <table>
        <tr><th>Start Time</th><td>@ViewBag.Workday.StartIn</td></tr>
        <tr><th>Lunch Out</th><td>@ViewBag.Workday.LunchOut</td></tr>
        <tr><th>Lunch Return</th><td>@ViewBag.Workday.LunchIn</td></tr>
        <tr><th>End Time</th><td>@ViewBag.Workday.EndOut</td></tr>
    </table>
</body>
</html>
