@using TimeCard.Models

@{
    ViewBag.Title = "Report";
}

<div class="WorkerStatus">
    <h2>Last @ViewBag.Days.Count days for @ViewBag.User.Name</h2>
</div>

<table class="table table-striped">
    <tr><th>Date</th><th>Type</th><th>Start Time</th><th>Lunch Out</th><th>Lunch Return</th><th>End Time</th></tr>
    @foreach (WorkdayModel workday in ViewBag.Days)
    {
    <tr>
        <td>@workday.Day.ToShortDateString()</td>
        <td>@if(workday.IsHoliday){
                <div>holiday!</div>
            } else if(workday.IsPaidTimeOff){
                <div>day off!</div>
            } else {
                <div>normal day</div>
            }
        </td>
        <td>@workday.StartIn.ToShortTimeString()</td>
        <td>@workday.LunchOut.ToShortTimeString()</td>
        <td>@workday.LunchIn.ToShortTimeString()</td>
        <td>@workday.EndOut.ToShortTimeString()</td>
    </tr>
    }
</table>
